@using DevExtremeVSTemplateMVC.Models
@model TaskListPartialViewModel

@using System.IO
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    string htmlString;

    using (var writer = new System.IO.StringWriter())
    {
        var originalWriter = ViewContext.Writer;
        ViewContext.Writer = writer;

        foreach (TaskModel item in Model.TaskList)
        {
            if (item.Status == Model.Status)
            {
                <div>@item.Text</div>
            }
        }

        ViewContext.Writer = originalWriter;
        htmlString = writer.ToString();
    }
}

<div class="list">
    <div class="list-title theme-text-color">
        <span>@Model.Status</span>
        @* CardMenu *@
    </div>
@(Html.DevExtreme().ScrollView()
    .ElementAttr(new { @class = "scrollable-list" })
    .Direction(ScrollDirection.Vertical)
    .ShowScrollbar(ShowScrollbarMode.Always)
    .Content(@<text>
        @(Html.DevExtreme().Sortable()
            .ElementAttr(new { @class = "sortable-cards" })
            .Group("cardsGroup")
            .Data("Index")
            .OnDragStart("onTaskDragStart")
            .OnAdd("onTaskDrop")
            .OnReorder("onTaskDrop")
            .Content(htmlString))
        <div class="add-task">
            @(Html.DevExtreme().Button()
            .Icon("plus")
            .Text("Add Task")
            .StylingMode(ButtonStylingMode.Text)
            .Width("100%")
            .OnClick("changePopupVisibility")
            )
        </div>
    </text>)
)
</div>
